body {
    background-color: #000000;
    color: #ffffff;
}

button {
    background-color: #111113;
    border: 1px solid #525f69;
    border-radius: 5px;

    padding: 5px 10px;

    font-weight: 500;
    font-size: 16px;

    color: #ffffff;
}

button:hover {
    background-color: #131517;
}

/* #0098ff */

h1 {
    /* font-family: sans-serif; */
    font-family: cursive;
}